@import 'bootstrap';
@import 'bootstrap/theme';

$div-width: 300px;
$tan: #FFE6C5;
$base-font-size: 0.8em;


// body {
//   margin-top: 3em;
// }

.nav-div {
  background-color: $tan;
  border-color: #85B1FF;
  border-width: 0 0 10px 0;
  border-bottom-style: solid;
  width: 100%;
  padding: 3px;
  position: relative;
  margin-bottom: 1em;
}

.nav-list {
  text-align: center;
  list-style: none;
  li {
    display: inline;
    padding: 0 10px 0 10px;
  }
}

.user-auth-box {
  margin: 0 1em 0 1em;
}

.main-page-box {
  margin: 0 1em 0 1em;
}

.main-app-window {
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: pink;
  height: 10em;
  width: 4em;
  margin: 1em;
}

.product-half {
  height: 30em;
  width: $div-width * 1.02;
  background-color: $tan * 1.05;
  position: relative;
  padding: 1em;
  h2 {
    margin-top: .5em;
  }
  ul {
    position: absolute;
    bottom: 1em;
    li {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      border-radius: 8px;
      padding: 3px;
      margin: 0 4px;
      display: inline;
    }
    li:hover {
      cursor: pointer;
    }
  }
  .right-align {
    margin-top: 3em;
    position: absolute;
    right: 1em;
  }
  .shorter-inline {
    width: 40%;
    display: inline;
  }
  .button-container {
    position: absolute;
    top: 0;
    bottom: 3em;
    overflow-y: scroll;
  }
  .header-description {
    font-size: $base-font-size * .75;
  }
  .red-text {
    color: red;
    margin-bottom: -.18em;
    text-align: center;
  }
}

.product-button {
  float: left;
  border-color: #291399;
  border-width: 5px;
  background-color: #6A56CC;
  padding: 3px;
  margin: .5em;
  width: 7em;
  height: 4.25em;
  border-style: solid;
  border-radius: 5px;
  font-size: $base-font-size;
  text-align: center;
  color: #85B1FF;
}

#global-header {
    border-color: #291399;
    border-width: 20px;
    background-color: #6A56CC;
    padding: 5px;
    margin: 0 auto;
    width: $div-width;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    color: #85B1FF;
}
